<p style="color: green"><%= notice %></p>

<% content_for :title, "Tactics" %>

<h1>Tactics</h1>

<div id="tactics">
  <% @tactics.each do |tactic| %>
    <%= render tactic %>
    <p>
      <%= link_to "Show this tactic", tactic %>
    </p>
  <% end %>
</div>

<%= link_to "New tactic", new_tactic_path %>
